html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    z-index: 80;
}

main {
    z-index: 81;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: #0000cc;
    display: flex;
}

nav {
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 18%;
    height: 18%;
}

.nav-links {
    flex: 1;
    text-align: right;
}


/*---------nav bar fixed ------------*/

.fixed-nav-bar {
    position: fixed;
    top: 0;
    /*norm mettre à -90px pour cacher*/
    left: 0;
    z-index: 998;
    width: 90%;
    display: flex;
    background-color: rgba(0, 0, 204, 0.65);
    backdrop-filter: blur(8px);
    transition: top 0.2s;
}






/*---------nav bar----------*/
.subnav {
    flex: 1;
    text-align: right;
    display: inline-block;
    padding-left: 10px;
}

.subnav .subnavbtn {
    font-size: 17px;
    color: white;
    padding: 7px 10px;
    background-color: inherit;
    font-family: "roboto";
    border: 2px solid transparent;
    border-radius: 50px;
    transition: border-color 0.5s ease-out;
}

.subnav .subnavbtn-b {
    font-size: 17px;
    color: white;
    padding: 7px 13px;
    background-color: rgb(9, 9, 90);
    font-family: "roboto";
    border: 2px solid transparent;
    border-radius: 50px;
    transition: border-color 0.5s ease-out;
}


.subnav-content {
    display: none;
}

.subnav:hover .subnav-content {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    width: 150px;
    background-color: rgb(9, 9, 90, 1);
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    font-size: 17px;
    font-family: "roboto";
    text-align: left;
    z-index: 1;
}

.subnav:hover .subnavbtn,
.subnav:hover .subnavbtn-b {
    border-color: white;
}

.subnav:hover .subnavbtn.black-border,
.subnav:hover .subnavbtn-b.black-border {
    border-color: black;
}

.subnav-content a {
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    color: rgb(128, 128, 128);
    transition: 0.5s ease;
    text-decoration: none;
}

.subnav-content .dot {
    color: white;
    text-decoration: none;
    border-top: 2px dashed rgb(74, 74, 74);
    padding-top: 8px;
}




/* ---------body text-------------- */
.text-box {
    width: 90%;
    color: #ffffff;
    font-family: "roboto";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.header-image {
    position: relative;
    padding-top: 60px;
    z-index: 996;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box h1 {
    font-size: 90px;
}


br {
    display: block;
    content: "";
    margin: 10px 0;
}

br1 {
    display: block;
    content: "";
    margin: 50px 0;
}

p1 {
    font-size: 20px;
}

.devis-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff000;
    border-radius: 20px;
    padding: 15px 37px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.devis-btn:hover {
    border: 2px solid #ffff00;
    background-color: #ffff00;
    color: #0000cc;
    transition: 0.9s;
}

nav .fa-solid-a {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #00007F;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        font-size: 40px;
        z-index: 2;
        transition: 0.8s;
    }

    .nav-links ul {
        padding: 20px;
    }

    .nav-links ul li a {
        font-size: 25px;
    }

    nav .fa-solid-a {
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}

.fa-angles-down {
    font-size: 50px;
    color: white;
    transition: 1s ease;
}

.fa-angles-down:hover {
    color: #fff000;
}

.div-fa-angles-down {
    position: absolute;
    margin-top: 140px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'roboto';
}

h1 {
    font-weight: 700;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}


h2 {
    font-size: 20px;

}

p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}

h5 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
    margin-top: 50px;
}



.row {
    margin-top: 5%;
    display: inline-flex;
    justify-content: space-between;
}

.quote {
    flex-basis: 30%;
    background: #dcecff;
    border-radius: 10px;
    line-height: 25px;
    margin-top: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'roboto';
}

.icons-footer {
    font-size: 30px;
}

.icons-footer a {
    padding: 0 5px;
}


/*------------partenaire card--------------------*/

#container {
    box-shadow: 0 15px 30px 1px rgb(171, 171, 171);
    /* background: rgba(255, 255, 255, 0.0); */
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 340px;
    width: 700px;
    border-radius: 15px;
}

.partn-card {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 60%;
}

#container .partn-card>p {
    font-family: 'roboto';
    font-weight: 400;
    text-align: center;
    font-size: 2vh;
    color: #7d7d7d;
    margin: auto;
}

.partn-image {
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 26%;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*------------------------------------------*/


/*-------------Slide transition effect-----------------*/
/* .page-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    visibility: hidden;
    background-color: #00007F;
    z-index: 9999;
    transition: transform 0.5s ease-in-out;
} */


/* @keyframes translateAnimation {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}

.temp {
    transform: translateX(100%);
    animation: translateAnimation 1.5s cubic-bezier(0.80, 0, 0.30, 1);
    animation-fill-mode: forwards;
  }

@keyframes translateAnimationY {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }

.tempY {
    transform: translateY(-100%);
    animation: translateAnimationY 1.5s cubic-bezier(0.80, 0, 0.30, 1);
    animation-fill-mode: forwards;
  }



@keyframes transitionIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes transitionOut {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
} */

/*barba transition*/

.wipe-transition {
    width: 100vw;
    height: 100vh;
    background-color: #00007F;
    position: fixed;
    top: -100%;
    z-index: 999;

}

/* images animation ease */

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    border-radius: 20px;

}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.img-shadow {
    box-shadow: 0 15px 30px 1px rgb(171, 171, 171);
}


/*------------------Domaines expertises--------------------*/
.intro-domaines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: 'roboto';
}

.container-domaines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 70%;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 400px;
    width: 150px;
    z-index: 4
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0px 10px 23px rgba(68, 68, 68, 0.3));
    /* transition: 0.3s ease-in-out transform; */
    transition: all 0.3s ease-in-out;

}

.base {
    width: 20vmin;
    height: 20vmin;
    background-color: white;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    z-index: 0;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.1), 28px 28px 28px 0 rgba(34, 33, 81, 0.45);
    opacity: 1;
    transition: all 0.6s ease-in-out;
}



/*  bubble speech    */


.bubble {
    width: 2px;
    /* height: 219px; */
    height: auto;
    background-color: white;
    border-radius: 20px;
    opacity: 1;
    visibility: hidden;
    transition: all 0.5s ease-out;
    position: relative;
    z-index: 5;
    padding: 7px;

    display: flex;
    justify-content: center;
    align-items:center;

}


.triangle {
    content: '';
    border-style: solid;
    border-color: white transparent;
    border-width: 20px 0px 0px;
    display: block;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease-out;
    visibility: visible;
    bottom: 0px;
}

.bubble span {
    font-size: 13px;
    color: black;
    visibility: hidden;
    opacity: 0;
    width: 400px;
    height: 200px;
    word-wrap: break-word;
    z-index: -1;
    overflow: hidden;
}

.base:hover~.group .bubble {
    visibility: visible;
    animation: expand 0.7s cubic-bezier(.75, 0, .75, 1);
    width: 100%;
}

.base:hover~.group .triangle {
    visibility: visible;
    animation: expand-triangle 0.7s cubic-bezier(.75, 0, .75, 1);
    border-width: 20px 20px 0;
}

.base:hover+.group .bubble span {
    animation: expand-txt 1.2s cubic-bezier(.75, 0, .75, 1);
    visibility: visible;
    opacity: 1;
}



@keyframes expand {
    0% {
        width: 2px;
        transform: scaleY(0);
        transform-origin: bottom;
    }

    50% {
        width: 2px;
        transform: scaleY(1);
        transform-origin: bottom;
    }

    51% {
        width: 2px;
    }

    100% {
        width: 100%;
    }
}

@keyframes expand-triangle {
    0% {
        border-width: 20px 0px 0;
        transform: scaleY(0);
        transform-origin: top;
    }

    50% {
        border-width: 20px 0px 0;
        transform: scaleY(1);
        transform-origin: top;
    }

    51% {
        border-width: 20px 0px 0;
    }

    100% {
        border-width: 20px 20px 0;
    }
}

@keyframes expand-txt {
    0% {
        opacity: 0;
    }

    50% {
        opacity:0;
    }

    100% {
        opacity:1;
    }

}

/* base */

.base:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.1), 54px 54px 28px -10px rgba(34, 33, 81, 0.35);
    opacity: 0.9;
}

.base:hover+.group {
    transform: translate3d(0px, 25px, 0px);
}

/* .base.field-icon1::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 1;
    background-image: url(icons/Icon-filiere-SICOM.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-42deg);
} */
